body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 50px;
}


input[type="text"] {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 70px;
    padding: 10px;
    background-color: #555555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7; color: black;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}